{% load static widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <title> Register </title>
        <link rel='stylesheet' href="{% static 'register.css' %}">
    </head>
    <body>
        <div class="user">
            <header class="user__header">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg" alt="" />
                <h1 class="user__title">Register Here</h1>
            </header>
            <div style='background-color:white'>
                {% for key, value in form.errors.items %}
                    <small>{{ value }}</small>
                {% endfor %}
            </div>
            <form class="form" method='POST'>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__group">
                        <label>{{ field.label }}</label>
                        {% render_field field class+='form__input' %}
                    </div>
                {% endfor %}
                <button class="btn" type="submit">Register</button>
            </form>
            <div>
                <small>Already have an account? <a href="{% url 'accounts:login' %}">Login</a></small>
            </div>
        </div>

        <script src="{% static 'register.js' %}"></script>
    </body>
</html>